.pagination {
    list-style: none;
    padding: 0;
  }
  
  .page-item {
    margin: 0 5px;
  }
  
  .page-item button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
  }
  
  .page-item.active button {
    font-weight: bold;
    color: green;
  }
  
  .page-item.disabled button {
    cursor: not-allowed;
    color: gray;
  }
  